* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 30px;
    border: 1px solid black;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form * {
    margin: 10px;
    padding: 6px 12PX;
}

form input {
    border: 2px solid rgb(210, 209, 209);
}

form button {
    font-size: 18px;
    width: 130px;
    height: 32px;
}

.todo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding: 15px 0;
    height: 400px;
    border: 1px solid black;
}

.todo-item {
    padding: 6px 12px;
    border-bottom: 2px solid rgb(210, 209, 209);
    width: 280px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.delete-item {
    color: #db4451;
    cursor: pointer;
}
